@mixin position($position, $top, $right, $bottom, $left) {
	position: $position;
	top: $top;
	left: $right;
	bottom: $bottom;
	right: $left;
}

@mixin display($options...) {
	$keywords: keywords($options);
	$display: map-get($keywords, display);
	$flex-direction: map-get($keywords, flex-direction);
	$align-items: map-get($keywords, align-items);
	$align-content: map-get($keywords, align-content);
	$justify-content: map-get($keywords, justify-content);

	@if $display {
		display: $display
	}
	@if $flex-direction {
		flex-direction: $flex-direction
	}
	@if $align-items {
		align-items: $align-items
	}
	@if $align-content {
		align-content: $align-content
	}
	@if $justify-content {
		justify-content: $justify-content
	}
}

.joy-list-cell {
	@include display($display: block);
	border-color: #ffffff;

	.cell {
		@include display($display: block);
		position: relative;

		&-content {
			@include position(absolute, 0, 0, 0, 0);
		}

		&-tile {
			@include display($display: block);
			@include position(absolute, 0, 0, 0, 0);
			z-index: 0;
			background-color: #ffffff;
			transition: transform 0.1s linear;
			color: #333333;
			user-select: none;

			&:not(.disable) {
				&:hover {
					background-color: #f4f4f4;
				}
				&:active {
					transform: scale(0.95);
				}
			}

			&.invokable {
				.cell-tile-foreground,
				.cell-tile-nameplate .name {
					pointer-events: auto !important;
					cursor: pointer !important;
				}
			}

			&-link {
				@include position(absolute, 0, 0, 0, 0);
				@include display(
					$display: flex,
					$flex-direction: column,
					$align-items: stretch,
					$align-content: stretch
				);
				color: inherit;
				overflow: hidden;
				text-decoration: none;
				pointer-events: none;
				outline: transparent;

				&:hover {
					.cell-tile-nameplate .name {
						text-decoration: underline;
					}
				}
			}

			&-label {
				position: absolute;
				width: 1px;
				height: 1px;
				padding: 0;
				margin: -1px;
				overflow: hidden;
				clip: rect(0, 0, 0, 0);
				border: 0
			}

			&-aboveNameplate {
				flex: 1;
				position: relative;
				margin: 16px 16px 0 16px;
			}

			&-content {
				@include position(absolute, 0, 0, 0, 0);
				@include display(
					$display: flex,
					$flex-direction: column,
					$align-items: center,
					$justify-content: center
				);
			}

			&-foreground {
				@include display(
					$display: inline-flex,
					$flex-direction: row,
					$align-items: center,
					$justify-content: center
				);
				position: relative;
				overflow: hidden;
				max-width: 100%;
				max-height: 100%;
				opacity: 1;
				transition: opacity 0.2s linear;

				.folderCover {
					display: inline-block;
					margin: 3px;

					.root {
						@include display(
							$display: inline-flex,
							$flex-direction: row,
							$align-items: flex-end
						);
						position: relative;
						vertical-align: bottom;
						@extend .isSmall;

						&.isLarge {
							width: 112px;
							height: 80px;
						}

						.isSmall {
							width: 72px;
							height: 52px;
						}

						.back {
							display: block;
							position: absolute;
							left: -3px;
							right: -3px;
							bottom: -4px;
						}

						.content {
							@include display(
								$display: flex,
								$flex-direction: column,
								$align-items: center,
								$justify-content: center
							);
							position: absolute;
							left: 4px;
							right: 4px;
							bottom: 4px;
							top: 4px;
							opacity: 1;
							transition: opacity 0.2s linear;

							.frame {
								position: relative;
								@include display(
									$display: inline-flex,
									$flex-direction: row,
									$align-items: center,
									$justify-content: center
								);
								overflow: hidden;
								max-width: 100%;
								max-height: 100%;
								box-shadow: 0 1px 3px 2px rgba(1, 1, 0, 0.2);
								background-color: #ffffff;
								min-width: 32px;
								min-height: 32px;

								.blankCover {
									background-color: #ffffff;
									display: inline-block;
								}
							}
						}

						.front {
							@extend .back;
						}

						.metadata {
							display: block;
							flex: 1 1;
							white-space: nowrap;
							text-overflow: ellipsis;
							overflow: hidden;
							font-weight: 400;
							color: #ffffff;
							position: relative;
							text-align: right;
							margin-right: 8px;
							font-size: 12px;
							margin-bottom: 3px;

							&.isSmall {
								font-size: 12px;
								margin-bottom: 3px;
							}
						}
					}
				}
			}

			&-nameplate {
				@include display(
					$display: flex,
					$flex-direction: column,
					$align-items: center,
					$justify-content: flex-end
				);
				position: relative;
				margin: auto 0 0 0;
				padding: 12px 8px;
				text-align: center;
				z-index: 0;

				.name {
					@include display(
						$display: flex,
						$flex-direction: row,
						$align-items: center,
						$justify-content: center
					);
					font-weight: 400;
					color: #333333;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					max-width: 100%;
					transition: color 0.2s linear;
					font-size: 14px;
					height: 30px;
					margin-top: -7px;
					margin-bottom: -8px;
					margin-left: -8px;
					padding-left: 8px;
				}

				.signalField {
					max-width: 100%;
					flex-direction: row nowrap;
					display: inline-flex
				}
				.signalFieldValue {
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					text-align: left;
					flex: 1 1 auto;
				}

				.activity {
					@include display(
						$display: flex,
						$flex-direction: row,
						$align-items: center,
						$justify-content: center
					);
					font-weight: 400;
					font-size: 12px;
					color: #767676;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					max-width: 100%;
					height: 24px;
					margin-bottom: -4px;
					margin-left: -8px;
					padding-left: 8px;
					transition: color 0.2s linear;
				}
			}
		}
	}

	&.file {
		.cell-tile-foreground {
			pointer-events: auto;
			cursor: pointer;
			background-color: #ffffff;
			box-shadow: 0 1px 3px 1px rgba(1, 1, 0, 0.05);
			min-width: 32px;
			min-height: 32px;
		}
		.fileCover {
			width: 96px;
			height: 96px;
			@include display(
				$display: inline-flex,
				$flex-direction: row,
				$align-items: center,
				$justify-content: center
			);
		}
		.FileTypeIcon {
			position: relative;
			display: inline-block;

			&-icon {
				width: 64px;
				height: 64px;
				display: inline-block;
				vertical-align: middle;
				position: relative;
				overflow: hidden;
			}
		}
	}
}
