.toolbar {
	width: 100%;
	height: 46px;
	background-color: var(--win32-title-bar-background-color);
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
}


#joybook-app-extend-bar {
	button {
		padding: 0;
		margin: 0;
	}
}
