@import '../../mixins';

.window {
	&-functionality {
		position: absolute;
		top: 0px;
		left: 0px;
		-webkit-app-region: no-drag;

		&.left {
			width: 6px;
		}

		&.right {
			width: 6px;
			right: 0;
			left: auto;
		}

		&.top {
			width: 100%;
			height: 6px;
		}
	}

	&-controls {
		flex-grow: 0;
		flex-shrink: 0;
		display: flex;

		&-button {
			-webkit-app-region: no-drag;
			display: inline-block;
			position: relative;
			width: 45px;
			height: 100%;
			padding: 0;
			margin: 0;
			overflow: hidden;
			// Reset styles from global buttons
			border: none;
			box-shadow: none;
			border-radius: 0;
			color: #a0a0a0;
			background-color: transparent;
			/* 关闭transition */
			// transition: background-color 0.25s ease;

			// Explicitly setting the line height to the height
			// of the SVG illustrations helps with vertical alignment.
			line-height: 10px;

			&:focus {
				outline: none;
			}

			&:hover {
				background-color: #545556;
				color: #fff;

				// Doing :hover:active as oposed to just :active is
				// a conscious choice to match how the real Windows
				// controls behave when someone hovers, clicks and then
				// moves away from the hitbox.
				&:active {
					background-color: #676869;
					// Immediate feedback when clicking
					transition: none;
				}
			}

			// Close button is a special case, it needs to be red
			// on hover and slightly lighter red on active.
			&.close:hover {
				background-color: #e81123;
				color: #fff;

				&:active {
					background-color: #f1707a;
					// Immediate feedback when clicking
					transition: none;
				}
			}

			/* https://css-tricks.com/cascading-svg-fill-color/ */
			svg {
				fill: currentColor;
			}
		}
	}
}


// #joybook-app-title-bar {
// 	-webkit-app-region: drag;
// 	flex-grow: 0;
// 	flex-shrink: 0;
// 	width: 100%;
// 	display: flex;
// 	flex-direction: row;

// 	&.fixed {
// 		// body有一圈1px的border
// 		width: calc(100% - 2px);
// 		position: fixed;
// 	}

// 	.window {
// 		&-functionality {
// 			position: absolute;
// 			top: 0px;
// 			left: 0px;
// 			-webkit-app-region: no-drag;

// 			&.left {
// 				width: 6px;
// 				height: var(--win32-title-bar-height);
// 			}

// 			&.top {
// 				width: 100%;
// 				height: 6px;
// 			}
// 		}

// 		&-controls {
// 			height: var(--win32-title-bar-height);
// 			flex-grow: 0;
// 			flex-shrink: 0;
// 			display: flex;

// 			&-button {
// 				-webkit-app-region: no-drag;
// 				display: inline-block;
// 				position: relative;
// 				width: 45px;
// 				height: 100%;
// 				padding: 0;
// 				margin: 0;
// 				overflow: hidden;
// 				// Reset styles from global buttons
// 				border: none;
// 				box-shadow: none;
// 				border-radius: 0;
// 				color: #a0a0a0;
// 				background-color: transparent;
// 				/* 关闭transition */
// 				// transition: background-color 0.25s ease;

// 				// Explicitly setting the line height to the height
// 				// of the SVG illustrations helps with vertical alignment.
// 				line-height: 10px;

// 				&:focus {
// 					outline: none;
// 				}

// 				&:hover {
// 					background-color: #545556;
// 					color: #fff;

// 					// Doing :hover:active as oposed to just :active is
// 					// a conscious choice to match how the real Windows
// 					// controls behave when someone hovers, clicks and then
// 					// moves away from the hitbox.
// 					&:active {
// 						background-color: #676869;
// 						// Immediate feedback when clicking
// 						transition: none;
// 					}
// 				}

// 				// Close button is a special case, it needs to be red
// 				// on hover and slightly lighter red on active.
// 				&.close:hover {
// 					background-color: #e81123;
// 					color: #fff;

// 					&:active {
// 						background-color: #f1707a;
// 						// Immediate feedback when clicking
// 						transition: none;
// 					}
// 				}

// 				/* https://css-tricks.com/cascading-svg-fill-color/ */
// 				svg {
// 					fill: currentColor;
// 				}
// 			}
// 		}
// 	}

// 	@include win32 {
// 		height: var(--win32-title-bar-height);
// 		background-color: var(--win32-title-bar-background-color);

// 		.app {
// 			&-icon {
// 				color: var(--toolbar-button-secondary-color);
// 				margin: 0 var(--spacing);
// 				align-self: center;
// 			}
// 			&-title {
// 				align-self: center
// 			}
// 		}
// 	}
// }
