<template>
<div data-cell-item="true" :class="{
	'joy-list-cell': true,
	'file': type === 'file'
}" style="flex: 0 0 176px; max-width: 176px">
	<div class="cell" style="padding-top: 97.16%">
		<div class="cell-content">
			<div class="cell-tile invokable"
				@dragstart.stop.prevent.capture="cellDragStart"
			>
				<router-link :to="computedRouteLink" class="cell-tile-link">
					<span class="cell-tile-label">{{computedCellLabel}}</span>
					<span class="cell-tile-aboveNameplate">
						<span class="cell-tile-content">
							<span class="cell-tile-foreground">
								<span v-if="type === 'folder'" class="folderCover">
									<div class="root isLarge">
										<img class="back" src="static/foldericons/folder-large_backplate.svg" />
										<span ref="content" class="content">
											<span class="frame">
												<span class="blankCover" :style="blankCoverSize"></span>
											</span>
										</span>
										<img class="front" src="static/foldericons/folder-large_frontplate_nopreview.svg" />
										<span class="metadata">{{`${items.length} 个项目`}}</span>
									</div>
								</span>
								<span v-else class="fileCover">
									<div class="FileTypeIcon">
										<img class="FileTypeIcon-icon" src="static/fileicons/genericfile.png" title="配置文件">
									</div>
								</span>
							</span>
						</span>
					</span>
					<span class="cell-tile-nameplate">
						<span class="name">
							<span class="signalField">
								<span class="signalFieldValue">{{type === 'file' ? `${thisName}.joy` : thisName}}</span>
							</span>
						</span>
						<span class="activity">
							<span class="signalField">
								<span class="signalFieldValue">{{calculateCreatedDateDetails()}}</span>
							</span>
						</span>
					</span>
				</router-link>
			</div>
		</div>
	</div>
</div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator';
// @ts-ignore
import { inject as RegistrableInject } from 'vuetify/es5/mixins/registrable';

interface IblankCoverSize {
	width: string;
	height: string;
}

enum Type {
	folder = 'folder',
	file = 'file',
}

@Component({
	mixins: [RegistrableInject('cell', 'cell-item', 'cell')],
})
export default class JoyCellItem extends Vue {
	public name: string = 'joy-cell-item';

	@Prop({ type: String, required: true }) public type: Type;

	@Prop({ type: String, default: '新建文件夹' }) public thisName: string;

	@Prop({ type: Number, default: 1536483211 }) public ctime: number;
	// TODO: Item interface
	@Prop({ type: Array, default: (): object[] => [] }) public items: object[];

	public blankCoverSize: IblankCoverSize = {} as any;

	public cell: {
		register: (uid: number, el: HTMLElement) => void;
		unregister: (uid: number) => void;
	};

	@Watch('this.$refs', { deep: true, immediate: true })
	public handler() {
		this.$nextTick(() => {
			const rect = this.$refs.content
				? (this.$refs.content as HTMLElement).getBoundingClientRect()
				: { width: 0, height: 0 };
			this.blankCoverSize = {
				width: `${rect.width}px`,
				height: `${rect.height}px`,
			};
		});
	}

	get computedCellLabel() {
		const isFolder = this.type === Type.folder;
		return [
			this.thisName,
			isFolder ? '配置文件夹' : '配置文件',
			isFolder ? `${this.items.length} 个项目` : '',
		].toString();
	}

	get computedRouteLink() {
		const link = `?_folder=${encodeURIComponent(this.thisName)}&_uid=${this._uid}`;
		return {
			path: `inspect/${link}`,
		};
	}

	/**
	 * @summary 粗糙的时间计算
	 */
	public calculateCreatedDateDetails() {
		const date = this.ctime;
		const formatDate = new Date(date * 1000).toLocaleString();
		const formatDepart = formatDate.split(' ');
		const period = formatDepart[1].replace(/\d+:\d+:\d+/, '');
		const time = formatDepart[1].substr(2, formatDepart[1].length - 5);
		const rtime = Math.round(new Date().getTime() / 1000);

		const gap = rtime > date ? Math.round((rtime - date) / 3600) : 0;

		if (gap < 48) {
			if (gap === 0) {
				return '刚刚';
			} else if (gap < 24) {
				return `${Math.round((rtime - date) / 3600)} 小时前`;
			} else {
				return `昨天 ${period} ${time}`;
			}
		} else {
			// @ts-ignore
			const result = formatDepart[0].replace(/\//g, (match: any, p1: number, p2: number) => {
				if (p1 === 4) {
					if (
						Number(formatDepart[0].substr(0, p1)) ===
						Number(new Date(rtime * 1000).toLocaleString().substr(0, 4))
					) return '-';
					return '年';
				} else if (p1 === 6) {
					return '月';
				}
			});
			return `${result.split('-').length === 1 ? result.split('-')[0] : result.split('-')[1]}日 ${period} ${time}`;
		}
	}

	public cellDragStart(ev: MouseEvent) {
		console.log(ev);
	}

	public mounted() {
		this.cell.register(this._uid, this.$el);
	}

	public beforeDestroy() {
		this.cell.unregister(this._uid);
	}
}
</script>
