<template>
<v-layout v-bind="{
	'justify-center': $vuetify.breakpoint.smAndDown,
	'justify-start': !$vuetify.breakpoint.smAndDown
}" row wrap>
	<slot></slot>
</v-layout>
</template>

<script lang="ts">
import { VNode } from 'vue';
import { Component, Prop, Vue } from 'vue-property-decorator';
// @ts-ignore
import { provide as RegistrableProvide } from 'vuetify/es5/mixins/registrable';

interface ICellItemContent {
	uid: number;
	root: HTMLElement;
}

@Component({
	mixins: [RegistrableProvide('cell')],
})
export default class JoyCell extends Vue {
	public name: string = 'joy-cell';

	public cellItem: ICellItemContent[] = [];

	public register(uid: number, root: HTMLElement) {
		this.cellItem.push({ uid, root });
	}
	public unregister(uid: number) {
		this.cellItem = this.cellItem.filter((v) => v.uid !== uid);
	}
}
</script>

<style lang='stylus'>
</style>
