<template>
	<joy-icon class="app-icon" :symbol="JoyIconSymbol.joyicon" base64></joy-icon>
</template>

<script lang="ts">
import {  Component, Vue } from 'vue-property-decorator';
import { JoyIcon } from '../joyicons';

@Component({
	components: {
		JoyIcon,
	},
})
export default class JoyTitlebarIcon extends Vue {
	public name: string = 'joy-titlebar-icon';
}
</script>
