<template>
<!-- <div :class="computedTitlebarClasses" id="joybook-app-title-bar">
	<div class="window-functionality left"></div>
	<div class="window-functionality top"></div>
	<controls v-if="controls"></controls>
	<slot></slot>
</div> -->
<v-toolbar app extended>
	<div class="window-functionality left"></div>
	<div class="window-functionality top"></div>
	<slot></slot>
</v-toolbar>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import controls from './title-bar-controls.vue';

@Component({ components: { controls } })
export default class JoyTitlebar extends Vue {
	public name: string = 'joy-titlebar';

	@Prop(Boolean) public dark: boolean;
	@Prop(Boolean) public blur: boolean;
	@Prop(Boolean) public fixed: boolean;
	@Prop(Boolean) public controls: boolean;

	public canvasWidth: null;
	public canvasHeight: null;

	get computedTitlebarClasses() {
		return {
			dark: this.dark,
			fixed: this.fixed,
		};
	}
}
</script>
