<template>
<div class="window-controls">
	<window-controls controlsType="minimize"></window-controls>
	<window-controls controlsType="maximize"></window-controls>
	<window-controls controlsType="close"></window-controls>
</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import controls from './window-controls.vue';

@Component({
	components: { windowControls: controls },
})
export default class JoyTitlebarControls extends Vue {
	public name: string = 'joy-titlebar-controls';
}
</script>
