<template>
<span class="app-title">
	<slot></slot>
</span>
</template>


<script lang="ts">
import { Component, Vue  } from 'vue-property-decorator';

@Component
export default class JoyTitlebarTitle extends Vue {
	public name: string = 'joy-titlebar-title';
}
</script>
