<template>
<!-- <button
	:class="computedControlsClasses"
	tabindex="-1"
	:title="controlsType === 'maximize' ? (isMaximized ? 'restore' : controlsType) : controlsType"
	@click="controlsOnClick"
>
	<svg version="1.1" width="10" height="10">
		<path :d="computedSvgPath" />>
	</svg>
</button> -->
<v-btn
	dark
	icon
	:title="controlsType === 'maximize' ? (isMaximized ? 'restore' : controlsType) : controlsType"
	@click="controlsOnClick"
>
	<v-icon v-if="icon">{{ icon }}</v-icon>
	<svg v-else version="1.1" width="10" height="10">
		<path style="fill: #fff" :d="computedSvgPath" />>
	</svg>
</v-btn>
</template>

<script lang="ts">
import { Event, ipcRenderer, remote } from 'electron';
import { Component, Prop, Vue } from 'vue-property-decorator';

enum ControlsTypes {
	close = 'close',
	maximize = 'maximize',
	minimize = 'minimize',
}

@Component
export default class JoyWindowControls extends Vue {
	@Prop({
		type: String,
		// restore也是使用maximize
		validator: (v: string) =>
			['close', 'maximize', 'minimize'].some((val: string) => val === v),
	})
	public controlsType: ControlsTypes;

	/**
	 * UIWindow一般不会真正的关闭
	 * 如果需要强制触发Closed事件，指定此参数为true
	 * @summary 希望你知道你自己在做什么
	 */
	@Prop(Boolean) public invokeClosed: boolean;
	@Prop([String, Boolean]) public icon: string | boolean;

	public name: string = 'joy-window-controls';

	public closePath: string = 'M 0,0 0,0.7 4.3,5 0,9.3 0,10 0.7,10 5,5.7 9.3,10 10,10 10,9.3 5.7,5 10,0.7 10,0 9.3,0 5,4.3 0.7,0 Z';
	public restorePath: string = 'm 2,1e-5 0,2 -2,0 0,8 8,0 0,-2 2,0 0,-8 z m 1,1 6,0 0,6 -1,0 0,-5 -5,0 z m -2,2 6,0 0,6 -6,0 z';
	public maximizePath: string = 'M 0,0 0,10 10,10 10,0 Z M 1,1 9,1 9,9 1,9 Z';
	public minimizePath: string = 'M 0,5 10,5 10,6 0,6 Z';
	public isMaximized: boolean = remote.getCurrentWindow().isMaximized();

	get computedControlsClasses() {
		return {
			'window-controls-button': true,
			"close": this.controlsType === ControlsTypes.close,
		};
	}
	get computedSvgPath() {
		return this.isMaximized
			? this.controlsType === 'maximize'
				? this.restorePath
				: (this as any)[`${this.controlsType}Path`]
			: this.controlsType === 'maximize'
				? this.maximizePath
				: (this as any)[`${this.controlsType}Path`];
	}

	public controlsOnClick() {
		switch (this.controlsType) {
			case ControlsTypes.minimize:
				remote.getCurrentWindow().minimize();
				break;
			case ControlsTypes.maximize:
				if (this.isMaximized) remote.getCurrentWindow().unmaximize();
				else remote.getCurrentWindow().maximize();
				break;
			case ControlsTypes.close:
				this.invokeClosed
					? remote.getCurrentWindow().close()
					: remote.getCurrentWindow().hide();
				break;
			default:
		}
	}

	public mounted() {
		ipcRenderer.on('ui:maximize:ui', (ev: Event, val: boolean) => (this.isMaximized = val));
		ipcRenderer.on('ui:unmaximize:ui', (ev: Event, val: boolean) => (this.isMaximized = val));
	}
}
</script>
