<template>
<div :class="computedToolbarClasses">
	<slot></slot>
</div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';

@Component
export default class JoyToolbar extends Vue {
	public name: string = 'joy-toolbar';

	@Prop(Boolean) public extend: boolean;
	@Prop(String) public color: string;

	public get computedToolbarClasses() {
		return {
			toolbar: true,
			extend: this.extend,
			color: this.color,
		};
	}

	// public render(h) {
	// 	return h('div', {
	// 		class: this.computedToolbarClasses,
	// 	}, this.$slots.default);
	// }
}
</script>
