// Variables
//
// This files contains CSS variables accessible to all selectors
// Primer colors, see https://github.com/primer/primer-css/blob/master/modules/primer-support/lib/variables/color-system.scss
@import 'color-system';
// Extracted as a SCSS variable so that we can define the --overlay-background-color
// on both the :root and the ::backdrop scope. The ::backdrop pseudo-element
// doesn't inherit :root, see
// https://bugs.chromium.org/p/chromium/issues/detail?id=594096
$overlay-background-color: rgba(0, 0, 0, 0.4);

:root {
	--app-border-unfocus: #aaaaaa;
	--app-border-focus: #535455;
	--color-new: #{$green};
	--color-deleted: #{$red};
	--color-modified: #{$yellow-700};
	--color-renamed: #{$blue};
	--color-conflicted: #{$orange};
	--text-color: #{$gray-900};
	--text-secondary-color: #{$gray-500};
	--background-color: #{$white};
	--button-height: 25px;
	--button-background: #{$blue};
	--button-border-radius: 2px;
	--button-hover-background: lighten(#{$blue}, 5%);
	--button-text-color: #{$white};
	--button-focus-border-color: #{$blue-600};
	--link-button-color: #{$blue};
	--link-button-hover-color: #{$blue-600};
	--secondary-button-background: #{$gray-000};
	--secondary-button-hover-background: #{$white};
	--secondary-button-text-color: var(--text-color);
	--secondary-button-focus-shadow-color: rgba(#{$gray-200}, 0.75);
	--secondary-button-focus-border-color: #{$gray-300};
	// Typography
	//
	// Font, line-height, and color for body text, headings, and more.
	--font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif, "Microsoft Yahei";
	--font-family-monospace: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
	/**
	* Font weight to use for semibold text
	*/
	--font-weight-semibold: 600;
	/**
	* Font weight to use for light text
	*/
	--font-weight-light: 300;
	// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
	--font-size: 12px;
	--font-size-sm: 11px;
	--font-size-md: 14px;
	--font-size-lg: 28px;
	--font-size-xl: 32px;
	--font-size-xxl: 42px;
	/** Extra small font size, be very conservative with the use of this */
	--font-size-xs: 9px;
	/**
	* The height of the title bar area on Win32 platforms
	* If changed, update titleBarHeight in 'app/src/ui/dialog/dialog.tsx'
	*/
	--win32-title-bar-height: 31px;
	--win32-title-bar-background-color: #ededed;
	--win32-title-bar-controls-height: var(--win32-title-bar-height);

	--spacing: 10px;
	--spacing-double: calc(var(--spacing) * 2);
	--spacing-triple: calc(var(--spacing) * 3);
	--spacing-quad: calc(var(--spacing) * 4);
	--spacing-half: calc(var(--spacing) / 2);
	--spacing-third: calc(var(--spacing) / 3);

	// http://easings.net/#easeOutBack
	--easing-ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	// http://easings.net/#easeInBack
	--easing-ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
	// http://easings.net/#easeOutQuint
	--easing-ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
}

::backdrop {
	--overlay-background-color: $overlay-background-color;
}

// Settings

$grid-breakpoints: (
	xs: 0,
	sm: 600px,
	md: 960px,
	lg: (1280px - 16px),
	xl: (1920px - 16px),
);

$grid-gutter: 8px;
$grid-columns: 12;
$grid-gutters: (
	xs: ($grid-gutter / 4),
	sm: ($grid-gutter / 2),
	md: $grid-gutter,
	lg: ($grid-gutter * 2),
	xl: ($grid-gutter * 3),
);

$container-max-widths: (
	md: map-get($grid-breakpoints, md),
	lg: map-get($grid-breakpoints, lg),
	xl:map-get($grid-breakpoints, xl)
);

$display-breakpoints: (
	xs-only: "only screen and (max-width: #{map-get($grid-breakpoints, sm) - 1})",
	sm-only: "only screen and (min-width: #{map-get($grid-breakpoints, sm)}) and (max-width: #{map-get($grid-breakpoints, md) - 1})",
	sm-and-down: "only screen and (max-width: #{map-get($grid-breakpoints, md)})",
	sm-and-up: "only screen and (min-width: #{map-get($grid-breakpoints, sm)})",
	md-only: "only screen and (min-width: #{map-get($grid-breakpoints, md)}) and (max-width: #{map-get($grid-breakpoints, lg) - 1})",
	md-and-down: "only screen and (max-width: #{map-get($grid-breakpoints, lg) - 1} )",
	md-and-up: "only screen and (min-width: #{map-get($grid-breakpoints, md)})",
	lg-only: "only screen and (min-width: #{map-get($grid-breakpoints, lg)}) and (max-width: #{map-get($grid-breakpoints,xl) - 2})",
	lg-and-down: "only screen and (max-width: (#{map-get($grid-breakpoints, xl)} - 1))",
	lg-and-up: "only screen and (min-width: #{map-get($grid-breakpoints, lg)})",
	xl-only: "only screen and (min-width: #{map-get($grid-breakpoints, xl)})"
)
