// #joybook-app-extend-bar {
// 	.v-btn {
// 		min-width: 46px;
// 	}
// }

// .v-btn.v-btn--outline {
// 	border-color: transparent;
// 	transition: none;

// 	&:hover {
// 		border-color: #b1b1b1;
// 		background-color: #dddddd;
// 	}

// 	&:active {
// 		border-color: #b1b1b1;
// 	}

// 	&:focus {
// 		border-color: #dddddd !important
// 	}
// }
