<template>
<joy-cell>
	<joy-cell-item
		v-for="item in battleSettings"
		:key="item.folderName"
		v-bind="item"
	></joy-cell-item>
	<v-menu
		v-model="isActive"
		:position-x="contentMenuShowUpAtX"
		:position-y="contentMenuShowUpAtY"
		transition="slide-x-reverse-transition"
		absolute
		offset-y
	>
		<v-list>
			<v-list-tile
				v-for="(item, index) in contentMenuList"
				:key="index"
				v-if="item.belong === 'cellItem' ? contentMenuShowElemIsCellItem : true"
				@click.prevent="item.action"
			>
				<v-list-tile-title>{{ item.title }}</v-list-tile-title>
			</v-list-tile>
		</v-list>
	</v-menu>
</joy-cell>
</template>

<script lang="ts">
import { remote } from 'electron';
import { Component, Vue, Watch } from 'vue-property-decorator';
// @ts-ignore
import Overlayable from 'vuetify/es5/mixins/overlayable';
// @ts-ignore
import { inject as RegistrableInject } from 'vuetify/es5/mixins/registrable';
import { equals } from '../util';

const defaultBattleSettings = [
	{
		thisName: '默认配置',
		type: 'folder',
		ctime: 1536483211,
		items: [
			{
				filename: '三妹踢罐',
				ctime: 1536483211,
				data: {
					stageType: 1,
					stageHash: 0,
				},
			},
			{
				filename: '踢罐',
				ctime: 1536483211,
				data: {
					stageType: 1,
					stageHash: 0,
				},
			},
		],
	},
	{
		thisName: '测试专用',
		type: 'file',
		ctime: 1536483211,
	},
	{
		thisName: '测试专用',
		type: 'file',
		ctime: 1536483211,
	},
];

enum Belong {
	cellItem = 'cellItem',
	default = 'default',
}

interface IMenuList {
	belong?: Belong;
	title: string;
	// on click
	action: (ev?: MouseEvent) => void;
}

@Component({
	mixins: [
		Overlayable,
		RegistrableInject('app', 'index', 'app'),
	],
})
export default class Index extends Vue {

	public battleSettings: object[] = null;
	public contentMenuShowUpAtX: number = 0;
	public contentMenuShowUpAtY: number = 0;
	public contentMenuShowElemIsCellItem: boolean = false;
	public contentMenuShowElemIsCellItemData: DOMStringMap = {};
	public contentMenuList: IMenuList[] = [
		{ belong: Belong.cellItem, title: '删除',  action: this.deleteCellItem },
		{
			title: '新建配置文件',
			action: () => {},
		},
		{
			title: '新建配置文件夹',
			action: () => {},
		},
	];
	public isActive: boolean = false;
	public genOverlay: Overlayable.methods.genOverlay;
	public removeOverlay: Overlayable.methods.removeOverlay;
	public app: {
		register: (fn: (ev: MouseEvent) => void) => void
		unregister: () => void;
	};

	public created() {
		const localforage = this.$localforage;

		localforage.length()
			.then((size) => {
				if (size === 0) return localforage.setItem('battleSettings', defaultBattleSettings);
				return localforage.getItem('battleSettings');
			})
			.then((value: object[]) => (this.battleSettings = value))
			.catch((error) =>
				remote.dialog.showErrorBox(
					'罕见的错误',
					`${error}\n你应该去洗洗脸，这错误不应该出现。`,
				),
			);
	}

	public mounted() {
		this.app.register(this.onContentMenuShowUp);
	}

	public beforeDestroy() {
		this.app.unregister();
	}

	@Watch('isActive')
	public handler(val: boolean) {
		if (val) {
			this.genOverlay();
			(<HTMLElement> document.querySelector('.v-overlay')).style.top = `${this.$vuetify.application.top}px`;
		} else this.removeOverlay();
	}

	private onContentMenuShowUp(ev: MouseEvent): void {
		if (this.isActive) return;
		const cellItem = this.searchPotentialCellItem((ev as any).path);
		const menuList = this.contentMenuList;
		if (cellItem !== null) {
			this.contentMenuShowElemIsCellItem = true;
			this.contentMenuShowElemIsCellItemData = cellItem.dataset;
		} else {
			this.contentMenuShowElemIsCellItem = false;
			this.contentMenuShowElemIsCellItemData = {};
		}

		// 让contentMenu出现在正确位置
		this.isActive = false;
		this.contentMenuShowUpAtX = ev.clientX;
		this.contentMenuShowUpAtY = ev.clientY;
		this.$nextTick(() => {
			this.isActive = true;
		});
	}

	private deleteCellItem(ev: MouseEvent): void {
		console.log(ev);
		console.log(this.contentMenuShowElemIsCellItemData);
	}

	private searchPotentialCellItem(path: HTMLElement[]): HTMLElement {
		let element: HTMLElement;
		for (const elem of path) {
			if (!elem.dataset) continue;
			if (elem.dataset.outOfRange) {
				element = null;
				break;
			}
			if (elem.dataset.cellItem) {
				element = elem;
				break;
			}
		}
		return element;
	}
}
</script>
