<template>
<svg v-if="!base64" :class="classes" version="1.1" :viewBox="`0 0 ${symbol.w} ${symbol.h}`" >
	<path :d="symbol.d">
		<title v-if="title">{{ title }}</title>
	</path>
</svg>
<img v-else :class="classes" :src="symbol.d" :title="title" />
</template>


<script lang="ts">
import * as classNames from 'classnames';
import { Component, Prop, Vue } from 'vue-property-decorator';
import JoyiconSymbol from './joyicon.generated';

@Component
export default class JoyIcon extends Vue {
	public name: string = 'joy-icon';

	@Prop(JoyiconSymbol) public symbol: JoyiconSymbol;
	@Prop(String) public className: string;
	@Prop(String) public title: string;
	@Prop(Boolean) public base64: boolean;

	get classes() {
		return classNames('joyicon', this.className);
	}
}
</script>
