<template>
<v-btn v-bind="computedJoyBtnBinds" :style="{ height: isNaN(height) ? height : `${height}px` }">
	<slot></slot>
</v-btn>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class JoyBtn extends Vue {
	public name: string = 'joy-btn';

	@Prop(Boolean) public dark: boolean;
	@Prop({ type: Boolean, default: false }) public ripple: boolean;
	@Prop(String) public color: string;
	@Prop({ type: Boolean, default: true }) public outline: boolean;
	@Prop({ type: [String, Number], default: 46 }) public height: string | number;
	@Prop(Boolean) public disabled: boolean;

	get computedJoyBtnBinds() {
		return {
			color: this.color,
			ripple: this.ripple,
			flat: true,
			dark: this.dark,
			outline: this.outline,
			disabled: this.disabled,
		};
	}
}
</script>
