<template>
<v-app color="white">
	<v-toolbar clipped-left app dark extended data-app-toolbar="true" :color="appNavColor">
		<v-toolbar-side-icon @click.stop.prevent="toggleDrawer"></v-toolbar-side-icon>
		<joy-titlebar-icon style="border-radius: 50%;"></joy-titlebar-icon>
		<v-toolbar-title>Joybook</v-toolbar-title>
		<v-spacer></v-spacer>
		<span style="align-self: center;">{{additionalGBFInfo}}</span>
		<v-spacer></v-spacer>

		<v-tooltip lazy bottom transition="scale-transition" fixed open-delay="800">
			<v-btn icon slot="activator">
				<v-icon>account_circle</v-icon>
			</v-btn>
			账号
		</v-tooltip>

		<v-tooltip lazy bottom transition="scale-transition" fixed open-delay="800">
			<v-menu transition="slide-y-transition" light offset-y slot="activator">
				<v-btn dark icon slot="activator">
					<v-icon>more_vert</v-icon>
				</v-btn>
				<v-list>
					<v-list-tile
						v-for="(item, index) in moreItems"
						v-if="item !== null"
						:key="index"
						:title="item.title"
						@click.prevent="item.click"
					>
						<v-list-tile-content>
							<v-list-tile-title>{{ item.title }}</v-list-tile-title>
						</v-list-tile-content>

						<v-list-tile-action>
							<joy-icon v-if="item.symbol" :symbol="JoyIconSymbol[item.symbol]"></joy-icon>
							<v-icon v-if="item.icon"> {{ item.icon }} </v-icon>
							<div v-else style="max-width: 30px"></div>
						</v-list-tile-action>
					</v-list-tile>
				</v-list>
			</v-menu>
			查看更多
		</v-tooltip>

		<!-- <joy-titlebar-controls class="hidden-xs-only"></joy-titlebar-controls> -->
		<template>
			<joy-window-controls-button :icon="$vuetify.breakpoint.xs ? 'minimize' : false" controlsType="minimize"></joy-window-controls-button>
			<joy-window-controls-button class="hidden-xs-only" controlsType="maximize"></joy-window-controls-button>
			<joy-window-controls-button class="hidden-xs-only" controlsType="close"></joy-window-controls-button>
		</template>

		<div class="window-functionality left" :style="{ height: `${$vuetify.application.top}px` }"></div>
		<div class="window-functionality right" :style="{ height: `${$vuetify.application.top}px` }"></div>
		<div class="window-functionality top"></div>

		<template slot="extension">
			<template ref="gbfWindowControls" v-if="appDrawer && !isMobile">
				<v-tooltip @mouseup.native="GBFBackward" lazy bottom transition="scale-transition" fixed open-delay="800">
					<v-btn icon :disabled="!gbfCanGoBackward" slot="activator">
						<v-icon>arrow_back</v-icon>
					</v-btn>
					GBF 页面后退, 鼠标右键强制后退(这可能没有任何结果)
				</v-tooltip>
				<v-tooltip @mouseup.native="GBFForward" lazy bottom transition="scale-transition" fixed open-delay="800">
					<v-btn icon :disabled="!gbfCanGoForward" slot="activator">
						<v-icon>arrow_forward</v-icon>
					</v-btn>
					GBF 页面前进, 鼠标右键强制前进(这可能没有任何结果)
				</v-tooltip>
				<v-tooltip lazy bottom transition="scale-transition" fixed open-delay="800">
					<v-btn icon @click.native="refreshGBF" slot="activator">
						<v-icon>refresh</v-icon>
					</v-btn>
					刷新 GBF 窗体
				</v-tooltip>
			</template>
			<v-tabs ref="appNav" :color="appNavColor" transition-time="0" grow :style="{
				'padding-left': `${appDrawer ? $vuetify.application.left - 48 * 3 : $vuetify.application.left}px`,
				transition: '0.3s cubic-bezier(0.25, 0.8, 0.5, 1)'
			}">
				<v-tab
					v-for="(n, index) in 6"
					:key="index"
				>
					角色 {{ n }}
				</v-tab>
			</v-tabs>
		</template>
	</v-toolbar>
	<v-navigation-drawer
		ref="appDrawer"
		:mobile-break-point="appDrawerBreakPoint"
		width="240"
		:class="{ 'elevation-10': appDrawer }"
		style="transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1)"
		floating
		clipped
		fixed
		app
		v-model="appDrawer"
	>
		<v-list subheader>
			<template v-for="(item, index) in 3">
				<v-list-tile
					avatar
					:key="index"
					@click="() => {}"
				>
					<v-list-tile-content>
						<v-list-tile-title>Button {{ item }}</v-list-tile-title>
					</v-list-tile-content>
				</v-list-tile>
				<v-divider v-if="item < 3" :key="index"></v-divider>
			</template>

		</v-list>
	</v-navigation-drawer>
	<v-content data-out-of-range="true" ref="router-content">
		<v-container ref="router-container" grid-list-sm>
			<router-view></router-view>
		</v-container>
	</v-content>
</v-app>
</template>

<script lang="ts">
import { Event, ipcRenderer, remote } from 'electron';
import * as os from 'os';
import { Component, Vue, Watch } from 'vue-property-decorator';
// @ts-ignore
import { provide as RegistrableProvide } from 'vuetify/es5/mixins/registrable';

import { IGBFGameStatus } from '../types';

interface IAdditionalGBFInfomationData {
	hash: string;
	host: string;
	hostname: string;
	href: string;
	origin: string;
	pathname: string;
	port: string;
	protocol: string;
	search: string;
}

export type IOnContentMenuShowUpFunction = (ev: MouseEvent) => void;

@Component({
	mixins: [RegistrableProvide('app')],
})
export default class App extends Vue {

	public tabs: string[] = [
		'配置', '周回', '共斗', '舔婊',
	];
	public appNav: number = 0;
	public appNavColor: string = 'pink';
	public appDrawer: boolean = this.$vuetify.breakpoint.smAndUp;
	public appDrawerBreakPoint: number = 960;
	public additionalGBFInfo: string = '';
	public gbfCanGoForward: boolean = false;
	public gbfCanGoBackward: boolean = false;

	public onContentMenuShowUp: IOnContentMenuShowUpFunction;

	get isMobile() {
		return this.$vuetify.breakpoint.width < this.appDrawerBreakPoint;
	}

	get moreItems(): object[] {
		return [
			{ symbol: '', title: '设置'},
			{ symbol: 'settings', title: 'testtesttest'},
			{ title: '重置窗体记忆', click: this.restoreWindowLayout },
			this.$vuetify.breakpoint.xs ? { icon: 'close', title: '关闭窗口', click: this.closeWindow } : null,
		];
	}

	public mounted() {
		this.$nextTick((): void => {
			(this.$refs['router-content'] as Vue).$el.addEventListener('mouseup', this.contentMenuShowUp);
			(document.querySelector('[data-app-toolbar="true"] > .v-toolbar__content') as any).style['-webkit-app-region'] = 'drag';
			// 让 tab-slider 的动画过度时间变短
			(this.$refs.appNav as any).transitionTime = 25;
		});
		this.initJoybookAdditionalEvent();
	}

	public restoreWindowLayout() {
		ipcRenderer.send('ui:gbf:reset', 'layout');
	}

	public closeWindow() {
		remote.getCurrentWindow().hide();
	}

	public toggleDrawer() {
		this.appDrawer = !this.appDrawer;
	}

	public register(fn: IOnContentMenuShowUpFunction): void {
		this.onContentMenuShowUp = fn;
	}

	public unregister(): void {
		this.onContentMenuShowUp = () => {};
	}

	private contentMenuShowUp(ev: MouseEvent): void {
		if (ev.which !== 3) return;
		ev.preventDefault();
		this.onContentMenuShowUp(ev);
	}

	private initJoybookAdditionalEvent(): void {
		document.body.classList.add(`platform-${os.platform}`);
		// TODO: 需不需要添加这类效果？
		// if (remote.getCurrentWindow().isFocused()) this.additionalOnFocus();
		// ipcRenderer.on('ui:focus', this.additionalOnFocus);
		// ipcRenderer.on('ui:blur', this.additionalOnBlur);
		ipcRenderer.on('gbf:transfer:ui', this.additionalGBFInfomation);
		ipcRenderer.on('gbf:canForward:ui', (ev: Event, can: boolean) => this.gbfCanGoForward = can);
		ipcRenderer.on('gbf:canBackward:ui', (ev: Event, can: boolean) => this.gbfCanGoBackward = can);
	}

	private additionalOnFocus(): void { document.body.classList.add('focus'); }

	private additionalOnBlur(): void { document.body.classList.remove('focus'); }

	private additionalGBFInfomation(ev: Event, data: IAdditionalGBFInfomationData): void {
		this.additionalGBFInfo = data.hash;
	}

	private refreshGBF(): void {
		ipcRenderer.send('gbf:refresh', { from: 'UIWindow' });
	}

	private GBFForward(ev: MouseEvent): void {
		const which = ev.which;
		if (which === 3) ipcRenderer.send('gbf:forward');
		else if (which === 1 && this.gbfCanGoForward === true) ipcRenderer.send('gbf:forward');
	}

	private GBFBackward(ev: MouseEvent): void {
		const which = ev.which;
		if (which === 3) ipcRenderer.send('gbf:backward');
		else if (which === 1 && this.gbfCanGoBackward === true) ipcRenderer.send('gbf:backward');
	}
}
</script>

<style lang="stylus">
@import '~vuetify/src/stylus/settings/_theme';

$material-light.background = #FFFFFF;

@import '~vuetify/src/stylus/main';

/* fallback */
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(/static/MaterialIconsFont/MaterialIconsFont.woff2)
		format('woff2');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

#gbf-refresh
	&:hover
		.v-icon
			transition transform .9s linear
			transform rotate(360deg)
</style>
